<html>
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>  
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body> 
        <div class="main_container">
            <h1><a href="/pra_msearch" style="text-decoration: none;">pra_msearch 검색</h1></a>

            <form action="/pra_msearch" method="POST">
                <select name = "pagingSize" onchange="this.form.submit()">
                    <%
                        const paging = ["10", "20", "30"];
                        for(let i=0; i<paging.length; i++ ) { %>
                            <% if( pagingSize !== undefined && paging[i] === pagingSize ) { %>
                                <option value="<%=paging[i] %>" selected><%= paging[i]%></option>
                            <% } else { %>
                                <option value="<%=paging[i] %>"><%= paging[i]%></option>
                            <% } } 
                    %>
                </select>

                <select name ="hosSelect">
                    <%
                    const option = ["세브란스","강남세브란스","용인세브란스","치과병원"];
                    const value = ["sev","gs","yi","dental"];
                        
                    for( let i = 0; i<option.length; i++) { %>
                        <% if (hosSelect !== undefined  && value[i] === hosSelect ) {  %>
                            <option value="<%= value[i] %>" selected><%= option[i] %></option>
                        <% } else { %>
                            <option value="<%= value[i] %>"><%= option[i] %></option>                       
                    <% } }
                %>
                </select>
                    
                <input type="text" id="keyword" name="keyword" placeholder="검색" value="<%=keyword %>">
                <input type="submit" name="boardBtn" value="검색" id="sub">

                <div class = "praboard_div">
                    <table id ="praboardTab">
                        <tbody>
                            <tr><td style="width: 20%; font-weight: bold;">의사</td></tr>
                            <% for (var i=0; i< data.pradoctor.length; i++){ %>
                                <tr>
                                    <td><%= data.pradoctor[i].nm%> / <%= data.pradoctor[i].nm_en %></td>
                                    <td><%= data.pradoctor[i].clnic_realm %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <br>
                    <table>
                        <tbody>
                            <tr><td style="width: 20%; font-weight: bold;">질병</td></tr>
                            <% for (var i=0; i< data.pradiss.length; i++){ %>
                                <tr>
                                    <td><%= data.pradiss[i].title%></td>
                                    <td><%- data.pradiss[i]["contents"] %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <br>
                    <table>
                        <tbody>
                            <tr><td style="width: 20%; font-weight: bold;">부서</td></tr>
                            <% for (var i=0; i< data.pradept.length; i++){ %>
                                <tr>
                                    <td><%= data.pradept[i].dept_nm%></td>
                                    <td><%= data.pradept[i].dept_id%></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>   
                <br>
            </form>
        </div>
    </body> 
</html>